.App {
  color: #79614a;
  height: fit-content;
  width: 100%
}
.Header {
  position: relative;
  top: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
}
.Header .Img {

  position: relative;
  top: 0%;
  align-self: center;
}