.Content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2ded2;
    height: 50%;
    width: 100%;    
}
.TextContent {
    position: relative;
    margin: 1%;
    width: 50%;
    height: 98%;
    
}
.TextContent h2 {
    position: relative;
    color: #b48050;
    text-align: start;
    width:fit-content;
    margin: 1% 0 1% 0;
    top: 15%;
    font-family: 'Times New Roman', sans-serif ;
    font-size: 300% ;
    right: 5%;

}
.TextContent p {
    position: relative;
    display: block;
    color: #434343;
    text-align: start;
    margin: 0 0% 0 0%;
    left: 0%;
    top: 25%;
    font-size:150% ;
    font-family: sans-serif;
}