.Follow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 33%;
    justify-content: center;
}
.button {
    position: relative;
    border-radius: 50%;
    width: 8%;
    height: 5%;
    display: inline-block;
    margin: 5%;
    text-align: center; 

}
